.allbooks_table {
  border-collapse: collapse;
  width: 92%;
  position: relative;
  margin-bottom: 1rem;
}
.allbooks_table .remove_before::before {
  content: none !important;
}
.allbooks_table .sectionFilter {
  height: 26px;
  accent-color: #f2ff00;
}
.allbooks_table tbody tr > td > button.toEditButton {
  position: absolute;
  height: 32px;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: 32px;
  background-repeat: no-repeat;
  opacity: 0.3;
  background-image: url(../images/pen.webp);
  left: 6px;
}
.allbooks_table tbody tr > td > button.toEditButton:hover {
  opacity: 1;
}
.allbooks_table tbody tr.editingRow {
  border-bottom: solid 2px red;
  border-left: solid 2px red;
  border-right: solid 2px red;
}
.allbooks_table tbody tr:has(+ .editingRow) {
  border-top: solid 2px red;
  border-left: solid 2px red;
  border-right: solid 2px red;
}
.allbooks_table tbody tr td input {
  width: 100%;
}
.allbooks_table tbody tr td textarea {
  min-height: 6rem;
  resize: none;
}

.centerAlign {
  text-align: center;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.allbooks_table thead {
  height: 80px;
  position: sticky;
  top: 53px;
}

.allbooks_table tr:not(.editingRow) {
  counter-increment: row-num;
}

.allbooks_table tr td:first-child {
  text-align: right;
}

.allbooks_table tr td:first-child::before {
  content: counter(row-num);
  width: 0.1rem;
}

.allbooks_table td,
.allbooks_table th {
  background-color: rgba(255, 255, 255, 0.6901960784);
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 15px;
  margin: 0;
  padding: 5px;
  height: 3rem;
  word-break: break-word;
}

.allbooks_table th {
  background-color: #6d88da;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  color: #000000;
}

.allbooks_table tr:hover {
  background-color: #b6b6b6;
}

input[type=checkbox] {
  height: 40px;
  width: 40px;
  display: block;
  margin: 0 auto;
}

.checkbox_td {
  vertical-align: middle;
  text-align: center;
}

#table_title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  height: 43px;
  font-family: "Times New Roman", Times, serif;
  border: none;
  resize: none;
  overflow: hidden;
}

#preparePrintButton {
  position: relative;
  display: block;
  margin: auto;
  background-image: url(../images/printer.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#table_title_button {
  display: block;
  background-color: wheat;
  height: 37px;
  margin: 0 auto 10px;
  border: solid 1px rgba(128, 128, 128, 0.3411764706);
  border-radius: 4px;
  width: 10rem;
}
#table_title_button:hover {
  background-color: rgb(129, 101, 49);
}

#filter {
  position: fixed;
  bottom: 10rem;
  right: 0.2rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: flex-start;
}
#filter button {
  aspect-ratio: 1/1;
  width: 3rem;
  border-radius: 1.5rem;
  background-color: #225aff;
  border: none;
  opacity: 0.6;
  background-image: url(../images/filter.png);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}
#filter button:hover {
  opacity: 1;
}
#filter #filter_list {
  height: 0rem;
  width: 0rem;
  transition: height 0.4s ease, width 0.4s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  position: absolute;
  right: 3.2rem;
  bottom: 0rem;
}
#filter #filter_list label {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
  padding: 3px;
  background-color: #0f518a;
  border-radius: 5px;
}
#filter #filter_list label:hover {
  background-color: #0079ff;
  border-radius: 5px;
}
#filter #filter_list input {
  height: 16px;
  width: 16px;
  margin: 0;
}
#filter #filter_list.active {
  height: 32rem;
  width: 20rem;
}/*# sourceMappingURL=allbooks.css.map */