nav {
	background-color: rgb(170, 174, 218) !important;
}

.book-image {
	content: url("../images/book.png");
}

.book-image:hover {
	content: url("../images/book.gif");
}

#toTopButton, #toButtomButton {
	border: solid 2px #0091ff;
	display: block;
	position: fixed;
	bottom: 6.2rem;
	right: 0.3rem;
	z-index: 99;
	outline: none;
	background-color: #555;
	color: white;
	cursor: pointer;
	border-radius: 33px;
	font-size: 25px;
    padding-bottom: 12px;
    width: 2rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    line-height: 25px;
    text-align: center;
}

#toButtomButton{
	bottom: 4rem;
}

#toTopButton:hover, #toButtomButton:hover {
	background-color: #0091ff;
}